body{
    background-color: #efefef;
    font-family: Arial, serif;
}

#calculator {
    width: 1056px;
    height: 100px;
    float: left;
    border-top: 1px solid #888888;
    border-bottom: 0px;
}

.calculator-left {
    width: 150px;
    height: 30px;
    float: left;
    border-bottom: 1px solid #888888;
    border-right: 0px;
    border-left: 1px solid #888888;
}

.calculator-middle-left {
    width: 250px;
    height: 30px;
    float: left;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
}

.calculator-middle-center {
    width: 150px;
    height: 30px;
    float: left;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}

.calculator-middle-right {
    width: 150px;
    height: 30px;
    float: left;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}

.calculator-right {
    width: 350px;
    height: 30px;
    float: left;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}

input {
    width: 100px;
}

select {
    width: 140px;
}

button {
    width: 140px;
}