<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="app">
<div class="container" ng-controller="PageController">
    <div id="calculator">
        <div class="calculator-left">Input Unit</div>
        <div class="calculator-middle-left">Input</div>
        <div class="calculator-middle-center">Operation</div>
        <div class="calculator-middle-right">Output Unit</div>
        <div class="calculator-right">Output</div>

        <div class="calculator-left">
            <select ng-model="inputUnit">
                <option value="Meters">Meters</option>
                <option value="Feets">Feets</option>
                <option value="Nautical_Miles">Nautical_Miles</option>
            </select>
        </div>
        <div class="calculator-middle-left" style="height: 60px;">
            First number: <input type="text" name="input" ng-model="firstNumber"/><br/>
            Second number: <input type="text" name="input" ng-model="secondNumber"/>
        </div>
        <div class="calculator-middle-center">
            <select ng-model="operation">
                <option value="Add">Add</option>
                <option value="Substract">Substract</option>
                <option value="Multiply">Multiply</option>
                <option value="Divide">Divide</option>
            </select>
        </div>
        <div class="calculator-middle-right">
            <select ng-model="resultUnit">
                <option value="Meters">Meters</option>
                <option value="Feets">Feets</option>
                <option value="Nautical_Miles">Nautical_Miles</option>
            </select>
        </div>
        <div class="calculator-right">{{result}}</div>
        <div class="calculator-right" style="margin-left: 301px; border-left: 1px solid #888888;"><button ng-click="calculatorCalculate()">calculate</button></div>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/app/app.js"></script>
<link rel="stylesheet" href="css/app/app.css"/>
</html>